<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4 col-lg-offset-4 text-center">
                    <div class="team-member">
                        <img src="img/about/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
							{% if network.title == 'orcid' or network.title == 'google-scholar' or network.title == 'researchgate' %}
                                <a href="{{ network.url }}">
                                    <i class="ai ai-{{ network.title }}"></i>
								</a>
							{% else %}
                                <a href="{{ network.url }}">
									<i class="fa fa-{{ network.title }}"></i>
								</a>	
							{% endif %}		
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<p class="large text-muted">I received my Ph.D. in Psychology from the <a href="https://psychology.illinois.edu/">University of Illinois Urbana-Champaign</a> in 2018, 
					and was a <a href="https://beckman.illinois.edu/">Beckman Institute</a> Postdoctoral Fellow from 2018 to 2021. 
					I now work as an Associated Health Fellow with the <a href="https://www.warrelatedillness.va.gov/">War Related Illness and Injury Study Center (WRIISC)</a> at the <a href="https://www.paloalto.va.gov/">Veterans Affairs Palo Alto Health Care System</a>, 
					and as a Postdoctoral Scholar with the <a href="https://med.stanford.edu/psychiatry.html">Department of Psychiatry and Behavioral Sciences</a> at <a href="https://med.stanford.edu/">Stanford University School of Medicine</a>.</p>
                </div>
            </div>
        </div>
    </section>