  <footer>
        <div class="container">
            <div class="row">
				<div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
							{% if network.title == 'orcid' or network.title == 'google-scholar' or network.title == 'researchgate' %}
                                <a href="{{ network.url }}">
                                    <i class="ai ai-{{ network.title }}"></i>
								</a>
							{% else %}
                                <a href="{{ network.url }}">
									<i class="fa fa-{{ network.title }}"></i>
								</a>	
							{% endif %}	
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </footer>
