<!-- Publication Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
					<h3 class="section-heading">Preprints</h3>
					<div class="row">
                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 75px; margin-top: 21px;">
							<p class="text-muted about-text">
                            Schiller, D., et al. (2022). The human affectome. <i>PsyArXiv</i>. <a href="https://doi.org/10.31234/osf.io/9nu32">https://doi.org/10.31234/osf.io/9nu32</a>.
                            </p>
							<p class="text-muted about-text">
                            Katsumi, Y., & <b>Moore, M.</b>. (2022). Affective enhancement of episodic memory is associated with widespread patterns of intrinsic functional connectivity across the adult lifespan. <i>bioRxiv</i>. <a href="https://doi.org/10.1101/2022.03.31.485630">https://doi.org/10.1101/2022.03.31.485630</a>.
                            </p>
                        </div>
                    </div>
					<h3 class="section-heading">Peer-reviewed Manuscripts</h3>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 75px; margin-top: 21px;">
							<h4>2022</h4>
							<p class="text-muted about-text">
                            Katsumi, Y., & <b>Moore, M.</b>. (2022). Affective enhancement of episodic memory is associated with widespread patterns of intrinsic functional connectivity in the brain across the adult lifespan. <i>Frontiers in Behavioral Neuroscience</i>, 16, 910180. <a href="https://doi.org/10.3389/fnbeh.2022.910180">https://doi.org/10.3389/fnbeh.2022.910180</a>.
                            </p>
							<p class="text-muted about-text">
                            Bogdan, P. C., <b>Moore, M.</b>, Kuznietsov, I., Frank, J., Federmeier, K. D., Dolcos, S., & Dolcos, F. (2022). Direct feedback and social conformity promote behavioral change via mechanisms indexed by centroparietal positivity: Electrophysiological evidence from a role-swapping Ultimatum Game. <i>Psychophysiology</i>, 59, e13985. <a href="https://doi.org/10.1111/psyp.13985">https://doi.org/10.1111/psyp.13985</a>.
                            </p>
							<p class="text-muted about-text">
                            <b>Moore, M.</b>, Katsumi, Y., Dolcos, S., & Dolcos, F. (2022). Electrophysiological correlates of social decision making: An EEG investigation of a modified Ultimatum Game. <i>Journal of Cognitive Neuroscience</i>, 34(1), 54-78. <a href="https://doi.org/10.1162/jocn_a_01782">https://doi.org/10.1162/jocn_a_01782</a>.
                            </p>
							<h4>2021</h4>
							<p class="text-muted about-text">
							<b>Moore, M.</b>, Maclin, E. L., Iordan, A. D., Katsumi, Y., Larsen, R., Bagshaw, A., Mayhew, S., Shafer, A. T., Sutton, B. P., Fabiani, M., Gratton, G., & Dolcos, F.  (2021). Proof-of-concept evidence for trimodal simultaneous investigation of human brain function. <i>Human Brain Mapping</i>, 42, 4102–4121. <a href="https://doi.org/10.1002/hbm.25541">https://doi.org/10.1002/hbm.25541</a>.
                            </p>
							<h4>2020</h4>
							<p class="text-muted about-text">
							Hu, Y., <b>Moore, M.</b>, Bertels, Z., Phan, K. L., Dolcos, F., & Dolcos, S. (2020). Smaller amygdala volume and increased neuroticism predict anxiety symptoms in healthy subjects: A volumetric approach using manual tracing. <i>Neuropsychologia</i>, 145, 106564. <a href="https://doi.org/10.1016/j.neuropsychologia.2017.11.008">https://doi.org/10.1016/j.neuropsychologia.2017.11.008</a>.
							</p>
							<p class="text-muted about-text">
							Katsumi, Y., Dolcos, F., <b>Moore, M.</b>, Bartholow, B. D., Fabiani, M., & Dolcos, S. (2020). Electrophysiological correlates of racial ingroup bias in observing nonverbal social encounters: An EEG investigation. <i>Journal of Cognitive Neuroscience</i>, 32(1), 167-186. <a href="https://doi.org/10.1162/jocn_a_01475">https://doi.org/10.1162/jocn_a_01475</a>.
                            </p>
							<p class="text-muted about-text">
							Dolcos, F., Katsumi, Y., <b>Moore, M.</b>, Berggren, N., de Gelder, B., Derakshan, N., Hamm, A., Koster, E., Ladouceur, C., Okon-Singer, H., Pegna, A., Richter, T., Schweizer, S., Van den Stock, J., Ventura-Bort, C., Weymar, M., & Dolcos, S. (2020). Neural correlates of emotion-attention interactions: From perception, learning and memory to individual differences in training interventions. <i>Neuroscience and Biobehavioral Reviews</i>, 108, 559-601. <a href="https://doi.org/10.1016/j.neubiorev.2019.08.017">https://doi.org/10.1016/j.neubiorev.2019.08.017</a>.
                            </p>
							<h4>2019</h4>
							<p class="text-muted about-text">
							<b>Moore, M.</b>*, Shafer, A. T.*, Bakhtiari, R., Dolcos, F., & Singhal, A. (2019). Integration of spatio-temporal dynamics in emotion-cognition interactions: A simultaneous fMRI-ERP investigation using the emotional oddball task. <i>NeuroImage</i>, 202, 116078. <a href="https://doi.org/10.1016/j.neuroimage.2019.116078">https://doi.org/10.1016/j.neuroimage.2019.116078</a>.
                            </p>
							<p class="text-muted about-text">
							Tian, L.*, Zimmerman, B.*, Akhtar, A.*, Yu, K. J.*, <b>Moore, M.</b>, Larsen, R., Lee, J. W., Li, J., Liu, Y., Metzger, B., Qu, S., Wu, J., Guo, X., Mathewson, K. E., Fan, J. A., Cornman, J. M., Fatina, M., Xie, Z., Ma, Y., Zhang, J., Zhang, Y., Dolcos, F., Fabiani, M., Gratton, G., Bretl, T., Hargrove, L. J., Braun, P., Huang, Y., & Rogers, J. A. (2019). Large area, MRI-compatible epidermal electronic interfaces for prosthetic control and cognitive monitoring. <i>Nature Biomedical Engineering</i>, 3, 194-205. <a href="https://doi.org/10.1038/s41551-019-0347-x">https://doi.org/10.1038/s41551-019-0347-x</a>.
                            </p>
							<h4>2018</h4>
							<p class="text-muted about-text">
							<b>Moore, M.</b>, Culpepper, S., Phan, K. L., Strauman, T., Dolcos, F., & Dolcos, S. (2018). Neuro-behavioral mechanisms of resilience against emotional distress: An integrative brain-personality-symptom approach using structural equation modeling. <i>Personality Neuroscience</i>, 1(e8), 1-10. <a href="https://doi.org/10.1017/pen.2018.11">https://doi.org/10.1017/pen.2018.11</a>.
                            </p>
							<h4>2017</h4>
							<p class="text-muted about-text">
							Dolcos, F., Katsumi, Y., Weymar, M., <b>Moore, M.</b>, Tsukiura, T., & Dolcos, S. (2017). Emerging directions in emotional episodic memory. <i>Frontiers in Psychology: Emotion Science</i>, 8, 1867. <a href="https://doi.org/10.3389/fpsyg.2017.01867">https://doi.org/10.3389/fpsyg.2017.01867</a>.
                            </p>
							<h4>2016 and earlier</h4>
							<p class="text-muted about-text">
							<b>Moore, M.</b>, Iordan, A.D., Hu, Y., Kragel, J., Dolcos, S., & Dolcos, F. (2016). Localized or diffuse: The link between prefrontal cortex volume and cognitive reappraisal. <i>Social Cognitive and Affective Neuroscience</i>, 11(8), 1317-1325. <a href="https://doi.org/10.1093/scan/nsw043">https://doi.org/10.1093/scan/nsw043</a>.
                            </p>
							<p class="text-muted about-text">
							Dolcos, S.*, Hu, Y.*, Iordan, A.D., <b>Moore, M.</b>, & Dolcos, F. (2016). Optimism and the brain: Trait optimism mediates the protective role of the orbitofrontal cortex gray matter volume against anxiety. <i>Social Cognitive and Affective Neuroscience</i>, 11(2), 263-271. <a href="https://doi.org/10.1093/scan/nsv106">https://doi.org/10.1093/scan/nsv106</a>.
                            </p>
							<p class="text-muted about-text">
							<b>Moore, M.</b>*, Hu, Y.*, Woo, S., O'Hearn, D., Iordan, A.D., Dolcos, S., & Dolcos, F. (2014). A comprehensive protocol for manual segmentation of the medial temporal lobe structures. <i>Journal of Visualized Experiments</i>, 89. <a href="https://doi.org/10.3791/50991">https://doi.org/10.3791/50991</a>.
                            </p>
							<p class="text-muted about-text">
                            *Authors contributed equally. 
							</p>
                        </div>
                    </div>
					<h3 class="section-heading">Book Chapters</h3>
					<div class="row">
                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 75px; margin-top: 21px;">
							<p class="text-muted about-text">
							Dolcos, S., <b>Moore, M.</b>, & Katsumi, Y. (2018). Neuroscience and well-being. In E. Diener, S. Oishi, & L. Tay (Eds.), <i>Handbook of Well-Being</i>. Salt Lake City, UT: DEF Publishers. doi: <a href="https://nobascholar.com/chapters/73">nobascholar.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>